html 
    head
        title #{user.name}'s profile
        link(rel="stylesheet", href="/users/profile.css")
        link(rel="stylesheet", href="/users/profileTab.css")
        script(src="/users/profile.js") 
    body(onload=`init("${user.id}")`)
        include ../../partials/header.pug
        #info
            h2 #{user.name}'s profile #[button#followButton.button.follow(onclick="follow()") Follow]
            p Followers: #{user.followers.length}
        // Tab links
        .tab
            button.tablinks(onclick="showData(event, 'games')") Games
            button.tablinks(onclick="showData(event, 'following')") Following
            button.tablinks(onclick="showData(event, 'likes')") Likes
            button.tablinks(onclick="showData(event, 'reviews')") Reviews
            button.tablinks(onclick="showData(event, 'workshops')") Workshops
            button.tablinks(onclick="showData(event, 'enrolled')") Enrolled
        // Tab content
        #games.tabcontent 
            if user.games
                if user.games.length > 0
                    ul
                        for game in user.games
                            li 
                                a(href=`/games/${game.id}`) #[h4 #{game.name}]
                else
                    p No games
            else 
                p No games
        #following.tabcontent 
            if user.following.length > 0
                ul 
                    for follower in user.following
                        li
                            a(href=`/users/${follower.id}`) #{follower.name}
            else 
                p Not following anyone
        #likes.tabcontent
            ul
                if user.likes.length > 0
                    for like in user.likes
                        li
                            a(href=`/games/${like._id}`) #{like.name}
                else 
                    p No likes
        #reviews.tabcontent
            ul
                if user.reviews.length > 0
                    for review in user.reviews  
                        li    
                            a(href=`/games/${review.game.id}`) #{review.game.name}
                            br
                            p #{review.text}
                else 
                    p No reviews
        #workshops.tabcontent
            if user.workshops.length > 0
                ul
                    for workshop in user.workshops
                        li
                            button#enroll.button.follow(onclick=`enroll('${workshop.id}')`) Enroll
                            | 
                            a(href=`/workshops/${workshop.id}`) #{workshop.name}
            else
                p No workshops
        #enrolled.tabcontent
            if user.enrolled.length > 0
                ul
                    for workshop in user.enrolled
                        li
                            a(href=`/workshops/${workshop.id}`) #{workshop.name}
            else
                p Not enrroled in any workshops