html 
    head 
        title #{gameData[0].name}
        script(src="gameId.js") 
    body
        #info
            h3 #{gameData[0].name}
        #div1
            img(src=`${gameData[0].thumbnail}`, alt="thumbnail",)
            p #{gameData[0].desc}
            for thing in gameData[0]
                p #{thing}
